<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.skosvall.nextlvl" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NextLvL"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <receiver android:name=".AppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <service android:name=".AppWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".ReviewSubmissionsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PlayLvLGameActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PlayCardGameActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SetReminderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AddSubmissionActivity" android:screenOrientation="portrait"/>
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity android:name=".EditSubmissionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PlayDareOrDrinkActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PrepareDareOrDrinkActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PlayNeverHaveIEverActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AdminPanelActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LvLGamesActivity" android:screenOrientation="portrait" />
        <activity android:name=".CardGamesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MobileGamesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:process=":remote" android:name=".ReminderNotificationReciever">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>