<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.skosvall.nextlvl">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NextLvL">
        <activity android:name=".SetReminderActivity"></activity>
        <activity android:name=".ReviewSubmissionsActivity" />
        <activity android:name=".PlayLvLGameActivity" />
        <activity android:name=".PlayCardGameActivity" />
        <activity
            android:name=".AddSubmissionActivity"
            android:label="@string/title_activity_add_submission">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity android:name=".EditSubmissionActivity" />
        <activity android:name=".PlayDareOrDrinkActivity" />
        <activity android:name=".PrepareDareOrDrinkActivity" />
        <activity android:name=".PlayNeverHaveIEverActivity" />
        <activity android:name=".AdminPanelActivity" />
        <activity android:name=".LvLGamesActivity" />
        <activity android:name=".CardGamesActivity" />
        <activity android:name=".MobileGamesActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReminderNotificationReciever" />
    </application>

</manifest>